
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.colornav{
  background-color:#FBC02D;
  
}

.colorsite 
{
  background-color:#FFF9C4;

}
.fontcolor
{
  color:rgb(255, 255, 255); ;
}
.cardshadow
{
  box-shadow: 0px 16px 40px 0px rgba(112,144,176,0.4);
}

div {
  position: relative;
}

.message {
  position: absolute;
  top: 450px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.7); /* Sfondo trasparente */
  padding: 10px;
  font-size: 25px;
  font-family: 'roboto';
  color: #333; /* Colore del testo */
}
.message2 {
  position: absolute;
  top: 350px;
  left: 550px;
  background-color: rgba(255, 255, 255, 0.7); /* Sfondo trasparente */
  padding: 10px;
  font-size: 25px;
  
  color: #333; /* Colore del testo */
}
.trasparencytext
{
  background-color: rgba(255, 255, 255, 0.7); /* Sfondo trasparente */
  padding: 10px;
  font-size: 25px;
  
  color: #333; /* Colore del testo */
}
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: 0 !important;
  background-size: 300% 100%;
  border-radius: 50px !important;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn19 {
  background-image: linear-gradient(
    to right,
    #FBC02D,
    #fd9103
  );
  box-shadow: 0 4px 15px 0 rgba(24, 11, 7, 0.75);
  
}
.card:hover
{
  
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  
}
.card
{
  border: 0 !important;
  border-radius: 15% !important;
}

 @keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.imgMenu
{
  
  border-top-left-radius: 15% !important;
  border-top-right-radius: 15% !important;
}
.truncate {
  width: 300px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.bn3637 {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: 0 !important;
  background-size: 300% 100%;
  border-radius: 50px !important;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(24, 11, 7, 0.75) !important;
}

.bn37 {
  border-color: transparent !important;
  background-color: #fff !important;
  color: #000 !important;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95) !important;
}
  
.bn37:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  
}
.modal-content
{
  background-color:#FFF9C4 !important;
}
.list {
  max-height: 730px;
  overflow-y: scroll;
  overflow: auto;
}
*{
  font-family: 'lato-thin';
  color: rgb(75, 79, 82);
}
.flex-container {
  display: flex;
  flex-direction: row; /* Imposta la direzione dei figli come riga */
  align-items: center;
}

/* Layout responsivo - passa a una colonna invece di due colonne */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.imageresolution{
  size: 42em;
}

@media(max-width:800px) {
  .imageresolution{
    width: 12em;
  }
}


.spinner {
  width: 14.4px;
  height: 14.4px;
  border-radius: 14.4px;
  
  box-shadow: 36px 0px 0 0 rgba(251,192,45,0.2), 29.2px 21.2px 0 0 rgba(251,192,45,0.4), 11.16px 34.2px 0 0 rgba(251,192,45,0.6), -11.16px 34.2px 0 0 rgba(251,192,45,0.8), -29.2px 21.2px 0 0 #fbc02d;
  animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
     transform: rotate(360deg);
  }
}
.spinnercontainer
{
  
  padding: 25em;
}
.deletebutton{
  background-color: #f30808 !important;
  color:white !important;
}
.listheight
{
  height: 150px;
}

.truncateaddress {
  width: 400px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
@media(max-width:800px) {
  .truncateaddress{
    width: 150px;
  }
}
.shadow
{
  text-shadow: 6px 23px 22px #000000;
}